
 
        <div class="border-end border-warning h-100  ">
            <div class="text-center">
                <img src="/image/1728466310792.jpg" alt="" class="img-fluid 
                rounded-circle mt-5 w-75 ">
                <h3 class="text-white mt-3 ">Mahruf Khokhar</h3>
            </div>
           <nav class="nav flex-column text-center mt-4">
            <a href="/home" class="nav-link <% if(page == 'home') {%> active <%}%> ">Home</a>
            <a href="/services" class="nav-link  <% if(page == 'serv') {%> active <%}%> " ">Services</a>
            <a href="/skill" class="nav-link <% if(page == 'skill') {%> active <%}%> ">Skill</a>
            <a href="/contact" class="nav-link  <% if(page == 'contact') {%> active <%}%> ">Contact</a>

           </nav> 
        </div>
