<%- include('./partials/header.ejs') %>
<%- include('./partials/footer.ejs') %>

<body>
   

    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/sidebar.ejs', {
                    page: "serv",
                }) %>
        </div>

    <div class="col-sm-10">
        <div class="container mt-5">
            <h1 class="text-warning mb-5 border-bottom" >SERVICES</h1>
            <div class="row text  text-center text-white mb-2 ">
                <div class="col-sm-4">
                    <i class="fa fa-android fa-2x mb-3 i-color"></i>
                  <h3>ANDROID</h3>
                  <p class="ss-color">Get Android App development with React native.</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-palette fa-2x mb-3 i-color"></i>
                    <h3>Web Design</h3>
                    <p class="ss-color" >Desgin attractive web pages.
                </div>
                <div class="col-sm-4">
                    <i class="fas fa-code fa-2x mb-3 i-color"></i>
                    <h3>Web development</h3>
                    <p class="ss-color" >Web development with React and wordpress and more.

                </div>
            </div>
            <div class="row text-center text-white mb-5 ">
                <div class="col-sm-4"></div>
            </div>
        </div>





            <div class="row text  text-center text-white mb-5 ">
                <div class="col-sm-4">
                    <i class=" fa fa-solid fa-clapperboard fa-2x mb-3 i-color"></i>
            
                  <h3>Graphic Design</h3>
                  <p class="ss-color">Get attractive editing and Designs.</p>
                </div>

                <div class="col-sm-4">
                    <i class="fa fa-rectangle-ad fa-2x mb-3 i-color"></i>
                    <h3>ADVERTISING</h3>
                    <p class="ss-color" >Grow your business with Digital marketing.
                </div>
                <div class="col-sm-4">
                    
                    <i class="fa fa-database fa-2x mb-3 i-color"></i>
                    <h3>HOSTING</h3>
                    <p class="ss-color" >Host your websites with us.

                </div>
            </div>
            <div class="row text-center text-white mb-5 ">
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>