@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); 

 .st {
    font-family: 'Satisfy', cursive;
}


.container-fluid {
    min-height: 100%;
    position: absolute;
}

.nav-link.active {
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}

a.nav-link:hover {
    color: black;
    background-color: #e9cd79;
}
a.nav-link {
    color: whitesmoke;
}

.i-color {
    color: chartreuse;
}
.ss-color {
    color: silver;
}
